@model  IEnumerable<Student_Registration.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
    <h4>
        @item.StudNumber : @item.StrudLastName  @item.StudFirstName <br />
        @item.StudAge :   @item.StudDOB.ToString("yyyy-MM-dd")


    </h4>
    @item.CreatedBy;   @item.CreatedOn.ToString("yyyy-MM-dd");
    <br />

}


